@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Playfair+Display:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
}

section {
    height: fit-content;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 48px;

    margin-bottom: 0;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}

p {
    font-size: 16px;
    line-height: 1.5em;
}

#container {
    width: 1000px;

    margin: 0 auto;
    padding: 15px;

    display: grid;
    column-gap: 180px;
    row-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
}

/* Header Section */

#header {
    grid-column: 1 / span 4;
}

.intro-container {
    display: flex;
    padding-left: 10px;

    font-style: italic;
    font-weight: 500;
}

.intro-container .intro-paragraph {
    font-size: 14px;
}

.intro-pic {
    position: relative;
    top: 8px;
    right: 12px;
}

/* Cake Image Section */

#cake-image {
    grid-column: 1 / span 6;
}

.main-image {
    width: 100%;
}

.main-image img {
    width: 100%;
}

/* Baking Instructions Section */

#baking-instructions {
    grid-column: 5 / span 2;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    padding-left: 50px;
    /* padding-right: 40px; */
    padding-top: 60px;
}

.bi-container {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.icon {
    transform: scale(1.6);

    color:#4F4F4F;
}

.bi-heading {
    position: relative;
    bottom: 24px;

    margin-bottom: 40px;
}

.bi-heading h6 {
    font-size: 10px;
    font-weight: 700;

    color: #BDBDBD;
    
    margin-bottom: 2px;
    margin-top: 0;
}

.bi-heading p {
    font-size: 14px;
    font-weight: 500;
    
    color:#333333;
    
    margin-top: 0;
}

/* Ingredients Section */

#ingredients {
    grid-column: 1 / span 4;
    grid-row: 3;
}

#ingredients p {
    line-height: 32px;
}

.less-weight {
    font-weight: 500;
}

/* Main Section */

#main {
    grid-column: 1 / span 4;
}

.list-item {
    display: flex;
    gap: 20px;
}

.list-number {
    background-color: #F2994A;
    padding: 4px;
    border-radius: 12px;

    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: white;


    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Source Section */

#source {
    grid-column: 1 / span 4;

    color: #BDBDBD;
    font-style: italic;
}

/* Footer Section */

#footer {
    grid-column: 1 / span 6;

    margin-top: 96px;
    margin-bottom: 24px;
    
    text-align: center;
    color: #828282;
    font-weight: 500;
    font-size: 14px;
}

@media (max-width: 1000px) {
    img {
        width: 100%;
    }

    #container {
        grid-template-columns: repeat(3, 1fr);
    }

    #header {
        grid-column: 1 / span 3;
    }

    #cake-image {
        grid-column: 1 / span 3;
    }

    #baking-instructions {
        grid-column: 1 / span 3;
        grid-row: 3;
    }

    #ingredients {
        grid-column: 1 / span 3;
        grid-row: 4;
    }

    #main {
        grid-column: 1 / span 3;
    }

    #source {
        grid-column: 1 / span 3;
    }

    #footer {
        grid-column: 1 / span 3;
    }
}